name: Terraform CI/CD

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  terraform-plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan
        env:
          TF_VAR_SQL_PASSWORD: ${{ secrets.TF_VAR_SQL_PASSWORD }}

  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    needs: terraform-plan
    if: github.event_name == 'push'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: |
          if [ "${GITHUB_REF##*/}" == "develop" ]; then
            echo "Branch develop detected → Apply automático (dev)"
            terraform apply -auto-approve
          else
            echo "Branch main detected → Apply requiere confirmación (prod)"
            terraform apply
          fi
        env:
          TF_VAR_SQL_PASSWORD: ${{ secrets.TF_VAR_SQL_PASSWORD }}
